{% extends 'base.html.twig' %}


{% block body %}
    <h1>Formulaire</h1>

    {#
        principales fonction twig pour les formulaires
            form_start : création de <form>
            form_end : création de </form>
            form_label : intitulé d'un champs de formulaire
            form_widget : champs de formulaire
            form_help : aide sur un champs de formulaire
            form_errors : erreur sur un champs de formulaire

        variable form : envoyé par le controller
        nom des champs : définis dans la classe de formulaire (...Type)
    #}

    <!--<form action="" novalidate="novalidate"></form>-->

    {{ form_start(form, {attr :{novalidate: 'novalidate'} }) }}
    <p>
        {{ form_label(form.source, 'Image : ') }}
        {{ form_widget(form.source) }}
        {{ form_help(form.source) }}
    </p>
    <p>
        {{ form_label(form.category, 'Sous Catégorie: ') }}
        {{ form_widget(form.category) }}
    </p>
    <p>
        <input type="submit" class="btn btn-info">
    </p>
    {{ form_end(form) }}

{% endblock %}


